<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoListVue</title>
    <link rel="stylesheet" href="css/style.css">
    <script src='js/vue.min.js'></script>
</head>
<body>
    <div id="app">
        <h1>代辦事項</h1>
        <input type="text" placeholder="請輸入代辦內容"  @keyup.enter='addTodo(newTodo)' v-model='newTodo'>
        <input type="checkbox" @click='allFinish()'>全部完成
        <ul>
            <h2>全部事項</h2>
            <li v-for='todo in todos' :class='{ active : todo.completed }' >
                <input type="checkbox" v-model='todo.completed'>
                {{todo.content}} - <a href="#" @click.prevent='removeTodo(todo)'>刪除</a>
                </li>
        </ul>
        <ul>
            <h2>未完成事項</h2>
            <li  v-for='todo in todos' v-if='todo.completed == false'>{{todo.content}}</li>
        </ul>
        <ul>
            <h2>完成事項</h2>
            <li v-for='todo in todos' v-if='todo.completed == true'>{{todo.content}}</li>
        </ul>
    </div>
    <script src='js/app.js'></script>
</body>
</html>